body { background-color: #cc99ff;}
h1.nume { color: black;}
h2.sectiuni { color: rgb(255, 102, 153);}
h3.sector { color: rgb(234, 98, 147) ;}
p {color: #9966ff;}

table, tr, td, ul { border: 2px solid black;}
tr:hover { background-color: lime;}
			
h1.nume {font-family: "Verdana";
		 font-style: italic;
		 font-size: 30px;}
p { font-family: "Dancing Script";
	font-size: 16px;}
	
img.profil {border: 2px solid black;
		border-radius: 12px;
		width: 360px;
		display: block;
		padding: 10px;
		margin: left;
		opacity: 1;}